openapi: 3.0.3
info:
  title: Badgr Assertions BadgeClasses API
  version: '2.0'
  description: REST API for the Badgr open digital badging platform (Instructure Canvas Credentials), implementing the Open Badges standard. Endpoints and paths in this document are grounded in the open-source badgr-server URL configuration (apps/issuer, apps/backpack, apps/badgeuser) and Badgr's published v2 API docs. Authentication is OAuth2 bearer token obtained from /o/token with the scopes rw:profile, rw:issuer, and rw:backpack. Regional deployments share the same paths under api.eu.badgr.io, api.ca.badgr.io, and api.au.badgr.io.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Badgr API Terms / badgr-server GNU AGPL-3.0 (open source)
    url: https://github.com/concentricsky/badgr-server
servers:
- url: https://api.badgr.io
  description: Badgr US (production)
- url: https://api.eu.badgr.io
  description: Badgr EU region
- url: https://api.ca.badgr.io
  description: Badgr Canada region
- url: https://api.au.badgr.io
  description: Badgr Australia region
security:
- OAuth2: []
tags:
- name: BadgeClasses
paths:
  /v2/issuers/{entityId}/badgeclasses:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - BadgeClasses
      summary: List an issuer's badge classes
      responses:
        '200':
          description: BadgeClasses for the issuer.
    post:
      tags:
      - BadgeClasses
      summary: Create a badge class under an issuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeClass'
      responses:
        '201':
          description: BadgeClass created.
  /v2/badgeclasses:
    get:
      tags:
      - BadgeClasses
      summary: List all badge classes
      responses:
        '200':
          description: All badge classes visible to the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/BadgeClass'
    post:
      tags:
      - BadgeClasses
      summary: Create a badge class
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeClass'
      responses:
        '201':
          description: BadgeClass created.
  /v2/badgeclasses/changed:
    get:
      tags:
      - BadgeClasses
      summary: List badge classes changed since a timestamp
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: BadgeClasses changed since the given time.
  /v2/badgeclasses/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - BadgeClasses
      summary: Get a badge class
      responses:
        '200':
          description: The requested badge class.
    put:
      tags:
      - BadgeClasses
      summary: Update a badge class
      responses:
        '200':
          description: BadgeClass updated.
    delete:
      tags:
      - BadgeClasses
      summary: Delete a badge class
      responses:
        '204':
          description: BadgeClass deleted.
components:
  schemas:
    Status:
      type: object
      properties:
        success:
          type: boolean
        description:
          type: string
    BadgeClass:
      type: object
      properties:
        entityId:
          type: string
        entityType:
          type: string
          example: BadgeClass
        openBadgeId:
          type: string
          format: uri
        issuer:
          type: string
        name:
          type: string
        description:
          type: string
        image:
          type: string
        criteriaUrl:
          type: string
        criteriaNarrative:
          type: string
        tags:
          type: array
          items:
            type: string
        alignments:
          type: array
          items:
            type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
        authorizationCode:
          authorizationUrl: https://api.badgr.io/o/authorize
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
