openapi: 3.2.0
info:
  title: Badgr Badge Classes API
  version: '2.0'
  description: REST API for the Badgr open digital badging platform (Instructure Canvas Credentials), implementing the Open Badges standard.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Badgr API Terms / badgr-server GNU AGPL-3.0 (open source)
    url: https://github.com/concentricsky/badgr-server
servers:
- url: https://api.badgr.io
  description: Badgr US (production)
- url: https://api.eu.badgr.io
  description: Badgr EU region
- url: https://api.ca.badgr.io
  description: Badgr Canada region
- url: https://api.au.badgr.io
  description: Badgr Australia region
security:
- OAuth2: []
tags:
- name: BadgeClasses
paths:
  /v2/issuers/{entityId}/badgeclasses:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - BadgeClasses
      summary: List an issuer's badge classes
      responses:
        '200':
          description: BadgeClasses for the issuer.
      operationId: getV2IssuersByEntityIdBadgeclasses
      x-operation-id-source: derived
    post:
      tags:
      - BadgeClasses
      summary: Create a badge class under an issuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeClass'
      responses:
        '201':
          description: BadgeClass created.
      operationId: postV2IssuersByEntityIdBadgeclasses
      x-operation-id-source: derived
  /v2/badgeclasses:
    get:
      tags:
      - BadgeClasses
      summary: List all badge classes
      responses:
        '200':
          description: All badge classes visible to the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/BadgeClass'
      operationId: getV2Badgeclasses
      x-operation-id-source: derived
    post:
      tags:
      - BadgeClasses
      summary: Create a badge class
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeClass'
      responses:
        '201':
          description: BadgeClass created.
      operationId: postV2Badgeclasses
      x-operation-id-source: derived
  /v2/badgeclasses/changed:
    get:
      tags:
      - BadgeClasses
      summary: List badge classes changed since a timestamp
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: BadgeClasses changed since the given time.
      operationId: getV2BadgeclassesChanged
      x-operation-id-source: derived
  /v2/badgeclasses/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - BadgeClasses
      summary: Get a badge class
      responses:
        '200':
          description: The requested badge class.
      operationId: getV2BadgeclassesByEntityId
      x-operation-id-source: derived
    put:
      tags:
      - BadgeClasses
      summary: Update a badge class
      responses:
        '200':
          description: BadgeClass updated.
      operationId: putV2BadgeclassesByEntityId
      x-operation-id-source: derived
    delete:
      tags:
      - BadgeClasses
      summary: Delete a badge class
      responses:
        '204':
          description: BadgeClass deleted.
      operationId: deleteV2BadgeclassesByEntityId
      x-operation-id-source: derived
components:
  schemas:
    Status:
      type: object
      properties:
        success:
          type: boolean
        description:
          type: string
    BadgeClass:
      type: object
      properties:
        entityId:
          type: string
        entityType:
          type: string
          example: BadgeClass
        openBadgeId:
          type: string
          format: uri
        issuer:
          type: string
        name:
          type: string
        description:
          type: string
        image:
          type: string
        criteriaUrl:
          type: string
        criteriaNarrative:
          type: string
        tags:
          type: array
          items:
            type: string
        alignments:
          type: array
          items:
            type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
        authorizationCode:
          authorizationUrl: https://api.badgr.io/o/authorize
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
