openapi: 3.2.0
info:
  title: Badgr Issuers API
  version: '2.0'
  description: REST API for the Badgr open digital badging platform (Instructure Canvas Credentials), implementing the Open Badges standard.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Badgr API Terms / badgr-server GNU AGPL-3.0 (open source)
    url: https://github.com/concentricsky/badgr-server
servers:
- url: https://api.badgr.io
  description: Badgr US (production)
- url: https://api.eu.badgr.io
  description: Badgr EU region
- url: https://api.ca.badgr.io
  description: Badgr Canada region
- url: https://api.au.badgr.io
  description: Badgr Australia region
security:
- OAuth2: []
tags:
- name: Issuers
paths:
  /v2/issuers:
    get:
      tags:
      - Issuers
      summary: List issuers
      responses:
        '200':
          description: A list of issuers the user can access.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Issuer'
      operationId: getV2Issuers
      x-operation-id-source: derived
    post:
      tags:
      - Issuers
      summary: Create an issuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issuer'
      responses:
        '201':
          description: Issuer created.
      operationId: postV2Issuers
      x-operation-id-source: derived
  /v2/issuers/changed:
    get:
      tags:
      - Issuers
      summary: List issuers changed since a timestamp
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Issuers changed since the given time.
      operationId: getV2IssuersChanged
      x-operation-id-source: derived
  /v2/issuers/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Issuers
      summary: Get an issuer
      responses:
        '200':
          description: The requested issuer.
      operationId: getV2IssuersByEntityId
      x-operation-id-source: derived
    put:
      tags:
      - Issuers
      summary: Update an issuer
      responses:
        '200':
          description: Issuer updated.
      operationId: putV2IssuersByEntityId
      x-operation-id-source: derived
    delete:
      tags:
      - Issuers
      summary: Delete an issuer
      responses:
        '204':
          description: Issuer deleted.
      operationId: deleteV2IssuersByEntityId
      x-operation-id-source: derived
components:
  schemas:
    Issuer:
      type: object
      properties:
        entityId:
          type: string
        entityType:
          type: string
          example: Issuer
        openBadgeId:
          type: string
          format: uri
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        email:
          type: string
        image:
          type: string
        createdAt:
          type: string
          format: date-time
    Status:
      type: object
      properties:
        success:
          type: boolean
        description:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
        authorizationCode:
          authorizationUrl: https://api.badgr.io/o/authorize
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
