openapi: 3.2.0
info:
  title: Badgr Assertions API
  version: '2.0'
  description: REST API for the Badgr open digital badging platform (Instructure Canvas Credentials), implementing the Open Badges standard.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Badgr API Terms / badgr-server GNU AGPL-3.0 (open source)
    url: https://github.com/concentricsky/badgr-server
servers:
- url: https://api.badgr.io
  description: Badgr US (production)
- url: https://api.eu.badgr.io
  description: Badgr EU region
- url: https://api.ca.badgr.io
  description: Badgr Canada region
- url: https://api.au.badgr.io
  description: Badgr Australia region
security:
- OAuth2: []
tags:
- name: Assertions
paths:
  /v2/issuers/{entityId}/assertions:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Assertions
      summary: List all assertions for an issuer
      responses:
        '200':
          description: Assertions awarded by the issuer.
      operationId: getV2IssuersByEntityIdAssertions
      x-operation-id-source: derived
  /v2/badgeclasses/{entityId}/issue:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Assertions
      summary: Batch issue assertions for a badge class
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assertions:
                  type: array
                  items:
                    $ref: '#/components/schemas/Assertion'
      responses:
        '201':
          description: Assertions issued.
      operationId: postV2BadgeclassesByEntityIdIssue
      x-operation-id-source: derived
  /v2/badgeclasses/{entityId}/assertions:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Assertions
      summary: List assertions for a badge class
      responses:
        '200':
          description: Assertions of the badge class.
      operationId: getV2BadgeclassesByEntityIdAssertions
      x-operation-id-source: derived
    post:
      tags:
      - Assertions
      summary: Issue an assertion of a badge class
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assertion'
      responses:
        '201':
          description: Assertion issued.
      operationId: postV2BadgeclassesByEntityIdAssertions
      x-operation-id-source: derived
  /v2/assertions/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Assertions
      summary: Get an assertion
      responses:
        '200':
          description: The requested assertion.
      operationId: getV2AssertionsByEntityId
      x-operation-id-source: derived
    put:
      tags:
      - Assertions
      summary: Update an assertion
      responses:
        '200':
          description: Assertion updated.
      operationId: putV2AssertionsByEntityId
      x-operation-id-source: derived
    delete:
      tags:
      - Assertions
      summary: Revoke an assertion
      responses:
        '204':
          description: Assertion revoked.
      operationId: deleteV2AssertionsByEntityId
      x-operation-id-source: derived
  /v2/assertions/revoke:
    post:
      tags:
      - Assertions
      summary: Batch revoke assertions
      responses:
        '200':
          description: Assertions revoked.
      operationId: postV2AssertionsRevoke
      x-operation-id-source: derived
  /v2/assertions/changed:
    get:
      tags:
      - Assertions
      summary: List assertions changed since a timestamp
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Assertions changed since the given time.
      operationId: getV2AssertionsChanged
      x-operation-id-source: derived
components:
  schemas:
    Assertion:
      type: object
      properties:
        entityId:
          type: string
        entityType:
          type: string
          example: Assertion
        openBadgeId:
          type: string
          format: uri
        badgeclass:
          type: string
        issuer:
          type: string
        recipient:
          type: object
          properties:
            identity:
              type: string
            type:
              type: string
              example: email
            hashed:
              type: boolean
        image:
          type: string
        issuedOn:
          type: string
          format: date-time
        narrative:
          type: string
        evidence:
          type: array
          items:
            type: object
        revoked:
          type: boolean
        revocationReason:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
        authorizationCode:
          authorizationUrl: https://api.badgr.io/o/authorize
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
