openapi: 3.2.0
info:
  title: Badgr Backpack API
  version: '2.0'
  description: REST API for the Badgr open digital badging platform (Instructure Canvas Credentials), implementing the Open Badges standard.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Badgr API Terms / badgr-server GNU AGPL-3.0 (open source)
    url: https://github.com/concentricsky/badgr-server
servers:
- url: https://api.badgr.io
  description: Badgr US (production)
- url: https://api.eu.badgr.io
  description: Badgr EU region
- url: https://api.ca.badgr.io
  description: Badgr Canada region
- url: https://api.au.badgr.io
  description: Badgr Australia region
security:
- OAuth2: []
tags:
- name: Backpack
paths:
  /v2/backpack/assertions:
    get:
      tags:
      - Backpack
      summary: List assertions in the earner's backpack
      responses:
        '200':
          description: Badges held by the authenticated earner.
      operationId: getV2BackpackAssertions
      x-operation-id-source: derived
  /v2/backpack/assertions/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Backpack
      summary: Get a backpack assertion
      responses:
        '200':
          description: A single held badge.
      operationId: getV2BackpackAssertionsByEntityId
      x-operation-id-source: derived
    put:
      tags:
      - Backpack
      summary: Update a backpack assertion (e.g. visibility)
      responses:
        '200':
          description: Updated.
      operationId: putV2BackpackAssertionsByEntityId
      x-operation-id-source: derived
    delete:
      tags:
      - Backpack
      summary: Remove an assertion from the backpack
      responses:
        '204':
          description: Removed.
      operationId: deleteV2BackpackAssertionsByEntityId
      x-operation-id-source: derived
  /v2/backpack/assertions/{entityId}/image:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Backpack
      summary: Get the baked badge image for a backpack assertion
      responses:
        '200':
          description: Baked Open Badges image.
      operationId: getV2BackpackAssertionsByEntityIdImage
      x-operation-id-source: derived
  /v2/backpack/import:
    post:
      tags:
      - Backpack
      summary: Import an external Open Badge into the backpack
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                image:
                  type: string
                assertion:
                  type: string
      responses:
        '201':
          description: Badge imported.
      operationId: postV2BackpackImport
      x-operation-id-source: derived
  /v2/backpack/share/assertion/{entityId}:
    parameters:
    - name: entityId
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Backpack
      summary: Create a public share URL for a backpack assertion
      responses:
        '200':
          description: Share URL created.
      operationId: putV2BackpackShareAssertionByEntityId
      x-operation-id-source: derived
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
        authorizationCode:
          authorizationUrl: https://api.badgr.io/o/authorize
          tokenUrl: https://api.badgr.io/o/token
          scopes:
            rw:profile: Read and write the user profile
            rw:issuer: Read and write issuers, badge classes, and assertions
            rw:backpack: Read and write the earner backpack and collections
